<!DOCTYPE html>
<html ng-app="custApp">
<head>
    <script src="~/Scripts/angular.js"></script>
    <script type="text/javascript">
        angular.module('custApp', []);
    </script>
    <script src="~/ForApp/IndexCtrl.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <!-- <a href="~/ForApp/cust.html">К списку контрагентов</a> -->
    <div><h1><b>Общий заголовок</b></h1></div>
    <a href="#!cust">К странице контрагентов</a>
    <a href="#!admin">К еще одной странице</a>
    <a href="#!login">Регистрация</a>
    <ng-view></ng-view>
    <script src="~/ForApp/custCtrl.js"></script>
    <script src="~/ForApp/adminCtrl.js"></script>
    <script src="~/ForApp/loginCtrl.js"></script>
</body>
    </html>
